*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body{
    background-color:#1c1c1c ;
    color: white;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 8px; 
}
body::-webkit-scrollbar-thumb{
    background-color: #343637;
    border-radius: 2px;
}
nav{
    background-color: #111211;
    height: 80px;
}

/* header{
    background-image: url(https://raw.githubusercontent.com/mathiramilo/MeatPalace/main/src/assets/img/others/banner.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
} */


.navegador li a {
    color: white !important;
    font-size: 23px;
}

.navegador li a:hover {
    color: red !important;
    transition: all .3s ease-out;
}

.imgLogo{
    width: 70px;
    /* margin: 20px; */
    margin-left: 80px;
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);

}

.botonesHeader{
    padding: 20px;
    margin: 20px;
    color: white;
}

.botonesHeader button {
    background-color: transparent;
    width: 40px;
    border: none;
    color: white;
}

.botonesHeader button:hover{
    color: red !important;
    transition: all .3s ease-out;
}


/* EMPIEZA SOBRE NOSOTROS */

.sobreNosotros{
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}
.sobreNosotros img {
    width: auto;
    height: 110%;
    border-radius: 6px;
    object-fit: cover;
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);

}
.nosotrosInfo{
    margin-left: 50px;
    width: 400px;
}
.nosotrosInfo h2{
    font-size: 32px;
    margin-bottom: 2rem;
}
.nosotrosInfo p{
    font-size: 16px;
}


/* DESTACADOS */

.tituloDestacados {
    margin-top: 13%;
    text-align: center;
    font-size: 35px;
}

.contenedorDestacados {
    position: relative;
	width:90%;
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	grid-gap: 35px;
	/* padding: 40px; */
    margin-left: 5%;
    justify-items: center;
}

.botonComprar{
    width: 100%;
    margin-top: 0;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);
}
.botonComprar:hover{
    background: red;
    transition: all 0.3s ease-out;
}

.botonCarnes a {
    width: 140px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.botonCarnes {
    background-color: white;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    margin-top: 5%;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
}

.botonCarnes:hover {
    transition: all 0.3s ease-out;
    background-color: red ;
}



/* NUESTROS LOCALES */
.tituloLocales{
    margin-top: 13%;
    text-align: center;
    font-size: 35px;
}

.sucursales{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

iframe{
    width:700px;
    height:480px;
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);

}



/* PAGINA PRODUCTOS */

/* EMPIEZA PRODUCTOS */
.sm-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: auto;
    margin-bottom: 2em;
    max-width: 1680px;
    margin-top: 30px;
}

.sm-header h1 {
    color: var(--white-50);
    font-weight: 300;
    text-transform: uppercase;
    width: 900px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 30px;
}

.smh-line {
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0 1px 6px 0 white; 
    
}

/*  */

.contenedor{
    position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	grid-gap: 35px;
	padding: 20px;
    justify-items: center;
}

.contenedor figure{
    position: relative;
    /* height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.50); */
    /* cursor: pointer; */
}

.contenedor figure i{
    color: black;
    /* width: 100%;
    height: 100%; */
    background-color: transparent;
    cursor: pointer;
}

.contenedor figure .capa{
    position: absolute;
    top: 0;
    /* width: 100%;
    height: 100%; */
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    /* text-align: center; */
}

.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover > .capa button{
    transition: all 500ms ease-out;
}

.contenedor figure:hover > img {
    transform: scale(1.5);

}






.card{
    background-color:transparent ;
    border: none;
    margin-top: 10%;
}

.card h3{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2px;
}

.card p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 2px;
    /* text-decoration: line-through; */
}

.imgCards{
    width: 230px;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);
    

}

.imgCards:hover{
    transition: all 0.3s ease-out;
    opacity: 0.7;
}



/* CARRITO */

.cantidadCarrito {
    background-color: red ;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}


.modalCarrito {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #111211;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modalCarrito::-webkit-scrollbar{
    display: none;
}

.modalHeader{
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
}

.modalTitulo{
    justify-self: start;
}

.modalButton{
    cursor: pointer;
}

.modalCarrito > .modalContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modalCarrito > div > img {
    height: 120px;
    width: 120px;
}

.totalComprado {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.eliminarProducto{
    cursor: pointer;
}

.sumar{
    cursor: pointer;
}
.restar{
    cursor: pointer;
}


/* SECTION CONTACTO */
.seccion-form {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    margin-top: 6rem;
    padding-top: 4rem;
}

.contenedor-form-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 50%;
    /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
    box-shadow: 0 0 20px 0 rgb(255 255 255 / 30%);
}

.titulo-contacto {
    font-size: 35px;
    text-align: center;
    padding: 1rem;
}
.contenedor-label-input {
    margin-left: 10%;
    margin-right: 10%;
}

.contenedor-label-input label, .contenedor-label-input input {
    padding: 5px;
}

.form-control {
    margin-bottom: 5px;
}

.contenedor-btn-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-form {
    text-align: center;
    border: none;
    margin: 1rem;
    width: 200px;
    height: 18%;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 8px 15px;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: .4s ease-in-out;
    background-color: #f5f3f4;
    color: #000;
}

.boton-form:hover {
    background: red;
    transition: all 0.3s ease-out;
}




/* FOOTER */

.footer {
    width: 100%;
    margin-top: 15%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;

}


.footer-container {
    width: 90%;
    max-width: 1680px;
    margin: auto;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    margin-bottom: 2em;

}

.fh-line {
    width: 100%;
    height: 2px;
    box-shadow: 0 1px 6px 0 white; 
    background-color: white;

}

.fh-logo img {
    max-width: 120px;
    width: 90px;
}

.footer-legend {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 14px;
    margin-bottom: 2.4em;
    width: 90%;
    max-width: 480px;

}

.navFooter{
    margin-top: 60px;
    background-color: transparent ;
    height: 60px;
}

.letra{
    color: #f1f1f1;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-out;
}

.letra:hover{
    color: red;
    transition: all 200ms ease-out;
}


.footer-developed-by {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    color: white;
    margin-bottom: 0.8em;
}

.footer-developed-by p {
    font-size: 12px;
}

.footer-developed-by span{
    color: red;
    font-size: 15px;

}

.github-btn {
    border: none;
    background: none;
    color: white;

}

.github-icon {
    width: 12px;
    color: white;
    transition: all 0.3s ease-out;
}

.github-btn:hover  {
    color: red;
}


.subir-arriba{
    font-size: 25px;
    display: flex;
    justify-content: right;
    align-items: right;
    text-decoration: none;
    color: white;
}

.subir-arriba:hover{
    color: red ;
    transition: all 0.3s ease-out;
}

.botonLink{
    margin-bottom: 20px;
}





